.booksList {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;
  padding: 20px;
  overflow-x: hidden;
}
.booksList .book-container {
  width: 300px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #1e1e1f, #29292b);
  border-radius: 15px;
  padding: 15px;
  color: #ffffff;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.booksList .book {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.booksList .book img {
  width: 90px;
  height: 120px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
  border: 1px solid #ccc;
}
.booksList .book img:hover {
  transform: scale(1.05);
}
.booksList .book .info {
  margin-left: 15px;
  text-align: left;
}
.booksList .book .info h1 {
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  color: #03a9f4;
  margin-bottom: 5px;
}
.booksList .book .info p {
  font-size: 13px;
  font-weight: 400;
  color: #b0b0b0;
}
.booksList .book-buttons {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.book-info {
  margin-top: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.book-info .single-book-info {
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 80%;
}

@media (min-width: 768px) {
  .booksList {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: none;
    gap: 20px;
  }
  .booksList .book-container {
    width: 250px;
    height: 250px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
  }
  .booksList .book-container .book {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .booksList .book-container .book .info {
    text-align: center;
    margin-left: 0;
  }
  .booksList .book-container .book .info h1 {
    width: 100%;
    font-size: 14px;
  }
  .booksList .book-container .book img {
    width: 70px;
    height: 120px;
  }
  .booksList .book-buttons {
    flex-direction: row;
    padding: 10px;
  }
}