.songs-list {
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;

  .song-item {
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .song-iframe {
      width: 100%;
      height: 80px;
      border-radius: 12px;
      border: none;
      overflow: hidden;
    }

    .add-song-icon {
      font-size: 1.2rem;
      cursor: pointer;
    }
  }
}

@media only screen and (min-width: 768px) {
  .songs-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    .song-item{
      .song-iframe{
        width: 300px;
      }
    }
  }
}
